---
import Navigation from './Navigation.astro';
import TagFilter from '../components/TagFilter.vue';

const pageTitle = "Devops | Backend Dev";
---

<header class="mt-10 mb-20">
    <Navigation />
    <div class="columns-2">
        <h1 class="text-4xl font-bold text-slate-700">{pageTitle}</h1>
        <div>test</div>
    </div>
</header>
