---
interface Props {
    title: string;
    description: string;
    href: string;
    date: string;
}
const {title, description, href, date} = Astro.props as Props;
---
<div class="post-item mb-10">
    <a href={href} class="text-sky-700 hover:text-slate-600">
        <h2 class="text-lg font-bold">{title}</h2>
    </a>
    <small>{date}</small>
    <p class="mt-5">{description}</p>
</div>
